.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    float: left;
}

.mobile-show {
    display: none;
}

@media only screen
and (max-width: 992px) {
    .mobile-show {display: block;}
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        flex: 0 0 20%;
        max-width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        flex: 0 0 20%;
        max-width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        flex: 0 0 20%;
        max-width: 20%;
        float: left;
    }
}
ion-icon{
    min-width:15px;
    min-height:15px;
}
.edit-user,
.mute-button{
    cursor: pointer;
}
.user-badge{
    font-size: 1.1em;
}
.badge-orange{
    background-color: #f4511e;
    color: #fafafa;
}
.badge-blue{
    background-color: #3a6884;
    color: #fafafa;
}
.navbar-header.navbar {
    padding-top:0;
    padding-bottom:0;
}
.navbar-header.navbar .navbar-brand{
    padding-top:0;
    padding-bottom:0;
}
.navbar-header.navbar .navbar-brand .header-logo{
    height: 100px;
    width: 267px;
    background-image:url("/img/cm_logo_header.jpeg");
    -webkit-background-size: 267px;
    background-size: 267px;
    background-repeat: no-repeat;
}
.navbar-header .nav-item{
    margin-right:15px;
    color:#555;
}
.navbar-header .nav-item.nav-turn-msg{
    min-width: 153px;
    margin-right:30px;
}
.navbar-header .nav-item.nav-game{
    display:none;
}
.nav-score{
    min-width: 125px;
}
.nav-clue-form{
    min-width: 255px;
}
.nav-clue{
    min-width: 244px;
}
body.game-over .nav-item.nav-turn-msg,
body.game-over .nav-item.nav-clue-form ,
body.game-over .nav-item.nav-clue,
body.game-over .nav-item.nav-turn-msg{
    display:none;
}
body.game-over .nav-item.nav-game{
    display:block;
}
.user-nav{
    position: relative;
}
.help-text{
    font-size:.8em;
    font-weight:bold;
    color:#555;
}
.user-nav .user-actions{
    position:absolute;
    top: -20px;
    left: 0;
}
.homepage .jumbotron{
    padding: 100px 25px;
}
.room-content .jumbotron{
    padding: 2rem 1rem;
    font-size: 1.1em;
}
.jumbotron hr{
    background: #fafafa;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
}
.jumbotron .help-text{
    color: #d4d4d4;
}
.jumbotron .help-text a{
    color: #fff;
}
.jumbotron-full {
    border-radius: 0;
    margin-bottom: 0;
}
.jumbotron.text-center .input-group{
    margin-left:auto;
    margin-right:auto;
}
.jumbotron .btn-default{
    color:#555;
    background-color:#fafafa
}
.jumbotron-alt {
    background-color: #3a6884;
}
.jumbotron-neutral {
    background-color: #121212;
}
.container-fluid {
    padding: 20px 50px;
}
.page_content {
    width:100%;
}
footer.container-fluid{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
footer .footer-text{
    font-size:.9em;
    margin-bottom:3px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 283px;
    max-width: 283px;
    min-height: 100vh;
    position:relative;
}
#sidebarCollapse {
    position:absolute;
    right: 0;
    background-color: #121212;
    color: #fff;
}
.btn:focus {
    border:0px;
    box-shadow: 0 0 0 0;
}
#sidebarCollapse.btn:focus {
    border:0px;
    box-shadow: 0 0 0 0;
}
#sidebar.active #sidebarCollapse {
    right: -40px;
}

#sidebar.active {
    margin-left: -283px;
}@media (max-width: 768px) {
    /*
    #sidebar {
        margin-left: -283px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    */
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #fafafa;
    color: #232323;
    transition: all 0.3s;
    margin-right: 15px;
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
}
.show-new-game{
    cursor: pointer;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #121212;
    color: #fafafa;
}

#sidebar ul.components {
    padding-bottom: 20px;
}

#sidebar ul p {
    color: #232323;
    padding: 10px;
}

#sidebar ul li a, #sidebar ul li span {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #232323;
    background: #fafafa;
}

#sidebar ul li.active > a, a[aria-expanded="true"],
#sidebar ul li.active > span {
    color: #232323;
    background: #fafafa;
}

#sidebar ul li.orange-team, #sidebar ul li.orange-team.active,
#sidebar ul li.orange-team a[aria-expanded="true"] {
    background: #f4511e;
    color: #fafafa;
}
#sidebar ul li.blue-team, #sidebar ul li.blue.active,
#sidebar ul li.blue-team a[aria-expanded="true"] {
    background: #2274A5;
    color: #fafafa;
}
ul ul a, ul ul span {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fafafa;
}
ul  li.orange-team ul a, ul li.orange-team ul  span {
    background: #f7693d;
}
ul li.blue-team ul a, ul li.blue-team ul  span {
    background: #3f7ea3;
}
#sidebar ul li.orange-team a:hover{
    background: #f23f09;
    color: #fafafa;
}
#sidebar ul li.blue-team a:hover{
    background: #3a6884;
    color: #fafafa;
}
#sidebar .player-count, #sidebar span.user-desig{
    font-size:.9em;
    display: inline;
    padding-left: 5px !important;
}
.caption{
    text-align: center;
}
.meme-card,
.word-card{
    /*margin:3px;*/
}
.meme-card .caption{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.meme-card .thumbnail
.word-card .word-thumbnail{
    position:relative;
}
.meme-card .thumbnail img,
.meme-card .thumbnail canvas,
.word-card .word-thumbnail {
    border: 5px solid #fff;
}
.meme-card.neutral .thumbnail img,
.meme-card.neutral .thumbnail canvas,
.word-card.neutral .word-thumbnail {
    border: 5px solid #ffcc33;
}
.meme-card.rick .thumbnail img,
.meme-card.rick .thumbnail canvas,
.word-card.rick .word-thumbnail {
    border: 5px solid #000;
}
.meme-card.orange .thumbnail img,
.meme-card.orange .thumbnail canvas,
.word-card.orange .word-thumbnail {
    border: 5px solid #f23f09;
}
.meme-card.blue .thumbnail img,
.meme-card.blue .thumbnail canvas,
.word-card.blue .word-thumbnail {
    border: 5px solid #5a9abf;
}
.meme-img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    object-position: 50% 15%;
}
.meme-card .select-line{
    display:none;
    position:absolute;
    top:2px;
    left:0;
    font-size: 1.3em;
    color:#fff;
    width: 100%;
    min-height: 1px;
    text-align:center;
    background-color: #fff;
    opacity: .8;
    padding: 3px 15px;
}
body.turn-blue .btn-meme-select,
body.turn-blue .btn-word-select{
    background-color: #3a6884;
    border-color: #3a6884;
    opacity: 1;
}
body.turn-orange .btn-meme-select,
body.turn-orange .btn-word-select{
    background-color: #f23f09;
    border-color: #f23f09;
    opacity: 1;
}
.meme-card.selected{
    opacity: .3;
}
.word-card.selected{
    opacity: .5;
}
.meme-card .action-line{
    display:none;
    position:absolute;
    left:0;
    top:129px;
    font-size: 1.3em;
    background-color: #fff;
    color:#121212;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align:right;
    opacity: .8;
}
.meme-card .action-line ion-icon{
    margin-left: 10px;
}
.meme-card .thumbnail:hover .action-line{
    display:block;
}
body.team-orange.turn-orange:not(.game-over):not(.captain) .meme-card:not(.selected) .thumbnail:hover .select-line,
body.team-blue.turn-blue:not(.game-over):not(.captain) .meme-card:not(.selected) .thumbnail:hover .select-line,
body.team-orange.turn-orange:not(.game-over):not(.captain) .word-card:not(.selected) .word-thumbnail .select-line,
body.team-blue.turn-blue:not(.game-over):not(.captain) .word-card:not(.selected) .word-thumbnail .select-line{
    display:block;
}
.turn-blue .icon-word-select:hover{
    color:#91bbd4;
}
.turn-orange .icon-word-select:hover{
    color:#faa085;
}
.meme-card .meme-link,
.icon-word-select{
    cursor: pointer;
}

.word-card {
    margin-bottom: 20px;
}
.word-card .select-line{
    display:none;
    position:absolute;
    bottom:7px;
    left:0;
    font-size: 1.3em;
    width: 100%;
    min-height: 1px;
    text-align:center;
    background-color: transparent;
    opacity: .8;
    padding: 3px 15px;
    color: #fff;
}
.word-card .word-thumbnail {
    border: 5px solid #999;
    background-color:#777;
    text-align:center;
    font-weight: bold;
    font-size:20px;
    color:#fafafa;
    padding-top:30px;
    padding-bottom:30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 #444;
    border-radius: 8px;
}
.word-card.neutral .word-thumbnail {
    border: 5px solid #ffdf80;
    background-color: #ffcc33;
}
.word-card.rick .word-thumbnail {
    border: 5px solid #000;
    background-color:#232323;
}
.word-card.orange .word-thumbnail {
    border: 5px solid #f4511e;
    background-color:#db3b0a;
}
.word-card.blue .word-thumbnail {
    border: 5px solid #5a9abf;
    background-color:#3a6884;
}

.game-nav/*, .game-nav-mobile*/{
    display: none;
}
.game-nav.active{
    display: flex;
}
.clue_number{
    width:55px;
}
.clue_submit.btn{
    overflow:visible;
}
.nav-clue-form.orange input,
.nav-clue-form.orange select,
.nav-clue-form.orange button{
    border-color: #f23f09;
}
.nav-clue-form.blue input,
.nav-clue-form.blue select,
.nav-clue-form.blue button{
    border-color: #3a6884;
}
.nav-clue-form.orange button{
    background-color: #f23f09;
    color:#fff;
}
.nav-clue-form.blue button{
    background-color: #3a6884;
    color:#fff;
}
.clue-form input{
    border-width: 2px 1px 2px 2px;
}
.clue-form button{
    border-width: 2px 2px 2px 1px;
}
.clue-form select{
    border-width: 2px 1px 2px 2px;
    height:40px;
    border-radius: 0;
}
.score-board{
    margin: 8px 15px 10px 0;
}
.turn-msg-section{
    color:#555;
}
.score-board .score{
    color:#fff;
    padding:10px 15px;
    border-radius:.25rem;
}
.turn-msg-section .turn-msg{
    display:none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 6px 15px;
    border: 2px solid black;
    border-radius: .25rem;
}
.score-board .orange-score{
    background-color: #f23f09;
}
.score-board .blue-score{
    background-color: #3a6884;
}

.turn-msg-section .orange-turn-msg{
    border-color: #f23f09;
}
.turn-msg-section .blue-turn-msg{
    border-color: #3a6884;
}
body.turn-orange .orange-turn-msg,
body.turn-blue .blue-turn-msg{
    display:block;
}

.display-clue{
    padding:0;
    margin-top:7px;
    font-size:1.1em;
    font-weight:bold;
}
.display-clue .display-clue-word{
    padding: 6px 15px;
    border: 2px solid black;
    margin-right: 0;
    border-right-width:1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.display-clue .display-clue-number{
    padding: 6px 15px;
    border: 2px solid black;
    margin-left: 0px;
    border-left-width:1px;
    border-radius: 0;
}
.display-clue .display-clue-pass{
    padding: 6px 10px;
    border: 2px solid black;
    margin-left: 0px;
    border-left-width:1px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    font-weight: normal;
}
.display-clue .display-clue-waiting{
    display:none;
    padding: 6px 15px;
    border: 2px solid black;
    border-radius: .25rem;
}
body.team-orange .nav-clue.blue .display-clue-pass,
body.team-blue .nav-clue.orange .display-clue-pass{
    display:none;
}
body.team-orange .nav-clue.blue .display-clue-number,
body.team-blue .nav-clue.orange .display-clue-number{
    border-left-width:2px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.nav-clue.orange .display-clue-word,
.nav-clue.orange .display-clue-number,
.nav-clue.orange .display-clue-pass,
.nav-clue.orange .display-clue-waiting{
    border-color: #f23f09;
}
.nav-clue.blue .display-clue-word,
.nav-clue.blue .display-clue-number,
.nav-clue.blue .display-clue-pass,
.nav-clue.blue .display-clue-waiting{
    border-color: #3a6884;
}
.blueTeamLabel, .orangeTeamLabel{
    display:none;
}
.nav-clue.blue {
    display:none;
}
.nav-clue.orange .display-clue-pass{
    background-color: #f23f09;
    color: #fff;
}
.nav-clue.blue .display-clue-pass{
    background-color: #3a6884;
    color: #fff;
}
.nav-clue.blue .blueTeamLabel{
    display:inline;
}
.nav-clue.blue .orangeTeamLabel{
    display:none;
}
.nav-clue.orange .blueTeamLabel{
    display:none;
}
.nav-clue.orange .orangeTeamLabel{
    display:inline;
}
.modal-content .modal-title{
    margin-left:auto;
    font-weight:bold;
    font-style: italic;
}
.modal-content .modal-header,
.modal-content .modal-body{
    background-color: #232323;
    color:#fff;
}
.modal-content .modal-body img{
    max-width:90%;
}
.modal-content .modal-header .close{
    color:#fff;
}
#createGame {
    position: relative;
}
#createGame button.close{
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    z-index: 20;
}
.invite-container{
    margin-bottom:15px;
}
.invite-toggle{
    cursor: pointer;
}
#newGameAlert{
    max-width:500px;
}
.new-game-label{
    font-size:1.1em;
}
.blue-label{
    color:#a3c7db;
}
.orange-label{
    color:#f77a55;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0;
    transition: box-shadow 0.5s;
    margin-top:20px;
    text-align:left;
}
.panel h5{
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-body{
    padding:20px;
    text-align:left;
}
.panel-body .alert{
    margin: 10px 20px;
}
.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.tutorial-img{
    max-width:85%;
    margin-left:auto;
    margin-right:auto;
}
.img-tutorial-user,
.img-tutorial-clueform{
    max-width: 300px;
}
.img-tutorial-clue{
    max-width: 275px;
}

@media screen
and (max-width: 500px)  {
    .img-tutorial-user,
    .img-tutorial-clueform,
    .img-tutorial-clue{
        width:260px;
    }
}
#howTo{
    margin-top:40px;
}
#howTo h5{
    font-size:1.2em;
    font-weight:bold;
}
/* mobile styles */
@media (max-width: 768px) {
    .navbar-header.navbar .navbar-brand img {
        height: 50px;
        content: url("/img/cm_logo_short.png");
    }
    .navbar-header.navbar .navbar-brand .header-logo{
        height: 50px;
        width: 55px;
        background-image:url("/img/cm_logo_short.png");
        -webkit-background-size: 55px;
        background-size: 55px;
        background-repeat: no-repeat;
    }
    .game-nav-mobile {
        margin-bottom: 20px;
    }
    .game-nav-mobile.active {
        display: flex;
    }
    .game-nav.active {
        display:none;
    }
    .game-nav-mobile .nav-game{
        font-size: 1.4em;
    }
}